@import "tailwindcss";

@font-face {
  font-family: "Nunito";
  src: url("https://d17s4kc6349e5h.cloudfront.net/holidayextras/assets/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: "Nunito", sans-serif;
}
